<html>
  <body>
    <h1>Hi {{firstName}},</h1>
    <p>Click the link below to reset your password. This link expires in
      {{expiresInMinutes}}
      minutes.</p>
    <a href='{{resetLink}}'>Reset Password</a>
  </body>
</html>