<html>
  <body>
    <h1>Hi {{firstName}},</h1>
    <p>Click the link below to reset your password. This link expires in
      {{expiresInMinutes}}
      minutes.</p>
    <a href='{{resetLink}}'>Reset Password</a>
    <p>Or</p>
    <p>Copy and paste the following URL into your browser:</p>
    <p>{{resetLink}}</p>
  </body>
</html>