<html>
  <body>
    <h1>Welcome, {{firstName}}!</h1>
    <p>Your account has been created. Here are your login details:</p>
    <p><strong>Temporary Password:</strong> {{temporaryPassword}}</p>
    <p>Please
      <a href='{{loginUrl}}'>login here</a>
      and change your password.</p>
  </body>
</html>